# NITRAM INVESTIMENT

## INTRODUCION

#### With a vision to soar to new heights, Nitram plans to venture into the dynamic world of aircraft acquisition and operation, targeting both commercial and private enterprises. This strategic move not only aligns with the company core values of innovation and adaptability but also opens doors to unprecedented opportunities in the global aviation market.

In [18]:
# importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## The Data

#### Our dataset is known as **AviationData** from the National Transportation Safety Board that includes aviation accident data from 1962 to 2023 about civil aviation accidents. Click [Dataset](https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses) to download

In [19]:
df = pd.read_csv("AviationData.csv", encoding =('ISO-8859-1' ), low_memory=False)

In [20]:
# we use head for data inspection to check if the data has been loaded correctly
df.head(20)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,10/24/48,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,07/19/62,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,08/30/74,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,06/19/77,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12/09/00
4,20041105X01764,Accident,CHI79FA064,08/02/79,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
5,20170710X52551,Accident,NYC79AA106,09/17/79,"BOSTON, MA",United States,42.445277,-70.758333,NaN,NaN,...,NaN,Air Canada,NaN,NaN,1.0,44.0,VMC,Climb,Probable Cause,19-09-2017
6,20001218X45446,Accident,CHI81LA106,08/01/81,"COTTON, MN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,IMC,Unknown,Probable Cause,06/11/01
7,20020909X01562,Accident,SEA82DA022,01/01/82,"PULLMAN, WA",United States,NaN,NaN,NaN,BLACKBURN AG STRIP,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Takeoff,Probable Cause,01/01/82
8,20020909X01561,Accident,NYC82DA015,01/01/82,"EAST HANOVER, NJ",United States,NaN,NaN,N58,HANOVER,...,Business,NaN,0.0,0.0,0.0,2.0,IMC,Landing,Probable Cause,01/01/82
9,20020909X01560,Accident,MIA82DA029,01/01/82,"JACKSONVILLE, FL",United States,NaN,NaN,JAX,JACKSONVILLE INTL,...,Personal,NaN,0.0,0.0,3.0,0.0,IMC,Cruise,Probable Cause,01/01/82
10,20020909X01559,Accident,FTW82DA034,01/01/82,"HOBBS, NM",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Approach,Probable Cause,01/01/82
11,20020909X01558,Accident,ATL82DKJ10,01/01/82,"TUSKEGEE, AL",United States,NaN,NaN,NaN,TUSKEGEE,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Landing,Probable Cause,01/01/82
12,20020917X02148,Accident,FTW82FRJ07,01/02/82,"HOMER, LA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,1.0,0.0,IMC,Cruise,Probable Cause,02/01/83
13,20020917X02134,Accident,FTW82FRA14,01/02/82,"HEARNE, TX",United States,NaN,NaN,T72,HEARNE MUNICIPAL,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Takeoff,Probable Cause,02/01/83
14,20020917X02119,Accident,FTW82FPJ10,01/02/82,"CHICKASHA, OK",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,02/01/83
15,20020917X02117,Accident,FTW82FPG08,01/02/82,"LITTLE ROCK, AR",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,02/01/83
16,20020917X01962,Accident,DEN82DTM08,01/02/82,"MIDWAY, UT",United States,NaN,NaN,NaN,FIELD RANCH,...,Personal,NaN,0.0,0.0,0.0,1.0,IMC,Taxi,Probable Cause,02/01/83
17,20020917X01656,Accident,ANC82FAG14,01/02/82,"SKWENTA, AK",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,3.0,0.0,0.0,0.0,VMC,Unknown,Probable Cause,02/01/83
18,20020917X02481,Accident,NYC82DA016,01/02/82,"GALETON, PA",United States,NaN,NaN,5G6,CHERRY SPRINGS,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,Taxi,Probable Cause,02/01/83
19,20020917X02339,Accident,MIA82DA028,01/02/82,"MIAMI, FL",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,0.0,0.0,2.0,VMC,Cruise,Probable Cause,02/01/83

## Performing comprehensive understanding of the dataset, which is crucial for effective data cleaning and preparation.

In [21]:
# checking how our data looks like
df.shape

(88889, 31)

In [22]:
# overview of the columns
df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.flight', 'Air.carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.phase.of.flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [23]:
# assessing data type, missing value count and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

## sanity check-ups and cleaning data

#### First, we need to check for and remove any duplicate entries in our dataset.When removing duplicates, we use a setting called the "keep" parameter. This parameter determines which duplicate to keep i.e keep = first or keep = last. This parameters keeps the first or last occurrence of the duplicate and removes the rest. For our dataset, we will use keep = first

In [24]:
# first we drop the duplicates
# unfortunately our dataset has no duplicates
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
88884    False
88885    False
88886    False
88887    False
88888    False
Length: 88889, dtype: bool

#### In our dataset, there are certain columns that do not contribute to our business problem analysis. For example, columns like "event date" or "event ID" are irrelevant to our analysis. Additionally, some columns have a large number of missing values (over 50%), and they are not related to our key areas of focus. The best course of action is to remove these columns, as they will not negatively impact the integrity or usefulness of our data.

In [25]:
# Dropping unnecessary columns
df= df.drop(columns=['Event.Id', 'Event.Date', 'Airport.Code', 'Airport.Name', 'Registration.Number', 'Amateur.Built', 'FAR.Description', 'Schedule', 'Air.carrier','Weather.Condition', 'Broad.phase.of.flight', 'Report.Status', 'Publication.Date'])
df

,Investigation.Type,Accident.Number,Location,Country,Latitude,Longitude,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,SEA87LA080,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,NaN,Stinson,108-3,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
1,Accident,LAX94LA336,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,NaN,Piper,PA24-180,1.0,Reciprocating,Personal,4.0,0.0,0.0,0.0
2,Accident,NYC07LA005,"Saltville, VA",United States,36.922223,-81.878056,Fatal(3),Destroyed,NaN,Cessna,172M,1.0,Reciprocating,Personal,3.0,NaN,NaN,NaN
3,Accident,LAX96LA321,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,NaN,Rockwell,112,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
4,Accident,CHI79FA064,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,NaN,Cessna,501,NaN,NaN,Personal,1.0,2.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,Accident,ERA23LA093,"Annapolis, MD",United States,NaN,NaN,Minor,NaN,NaN,PIPER,PA-28-151,NaN,NaN,Personal,0.0,1.0,0.0,0.0
88885,Accident,ERA23LA095,"Hampton, NH",United States,NaN,NaN,NaN,NaN,NaN,BELLANCA,7ECA,NaN,NaN,NaN,0.0,0.0,0.0,0.0
88886,Accident,WPR23LA075,"Payson, AZ",United States,341525N,1112021W,Non-Fatal,Substantial,Airplane,AMERICAN CHAMPION AIRCRAFT,8GCBC,1.0,NaN,Personal,0.0,0.0,0.0,1.0
88887,Accident,WPR23LA076,"Morgan, UT",United States,NaN,NaN,NaN,NaN,NaN,CESSNA,210N,NaN,NaN,Personal,0.0,0.0,0.0,0.0
88888,Accident,ERA23LA097,"Athens, GA",United States,NaN,NaN,Minor,NaN,NaN,PIPER,PA-24-260,NaN,NaN,Personal,0.0,1.0,0.0,1.0

## Dealing with NAN values

#### NaN stands for Not a Number and is a special floating-point value used to represent missing or undefined values. NaN values can occur when performing mathematical operations on invalid values, such as dividing by zero or taking the square root of a negative number. Why get bothered with NaN values?, NaN values can cause problems when performing calculations or statistical analysis on your data. They can skew your results, produce incorrect values, or cause errors in your code. Therefore, it’s often necessary to deal with them before proceeding with your analyis. How to deal with NaN values, there are several ways that is using **dropna()** removes rows or columns with NaN values **replace()** replaces NaN values with a specified value **interpolate()** fills NaN values with interpolated values.

In [26]:
df.columns

Index(['Investigation.Type', 'Accident.Number', 'Location', 'Country',
       'Latitude', 'Longitude', 'Injury.Severity', 'Aircraft.damage',
       'Aircraft.Category', 'Make', 'Model', 'Number.of.Engines',
       'Engine.Type', 'Purpose.of.flight', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured'],
      dtype='object')

In [27]:
# Before droping NAN values, lets see our dataset shape 
df.shape

(88889, 18)

In [28]:
# droping NAN values
df= df.dropna()
df

,Investigation.Type,Accident.Number,Location,Country,Latitude,Longitude,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
50682,Accident,LAX01FA308,"LYTLE CREEK, CA",United States,34.241389,-117.539722,Fatal(1),Substantial,Airplane,Piper,PA-28-181,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
54904,Accident,FTW03FA174,"Cushing, OK",United States,35.935833,-96.779167,Fatal(1),Destroyed,Airplane,Cessna,182H,1.0,Reciprocating,Skydiving,1.0,2.0,2.0,1.0
61280,Accident,CHI06GA241,"COLUMBUS, OH",United States,40.068889,-82.968334,Non-Fatal,Substantial,Helicopter,Mcdonnell Douglas Helicopters,369E,1.0,Turbo Shaft,Public Aircraft - Local,0.0,0.0,0.0,2.0
61649,Accident,LAX07FA026,"Yuba City, CA",United States,38.967778,-121.626945,Fatal(2),Destroyed,Airplane,Aircraft Mfg & Dev. Co. (amd),CH601XL SLSA,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
61787,Accident,NYC07FA041,"Summersville, WV",United States,38.248611,-80.976111,Fatal(1),Destroyed,Airplane,Mooney,M20R,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88639,Accident,CEN23LA008,"Iola, TX",United States,304354N,0096752W,Non-Fatal,Substantial,Airplane,CESSNA,150,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
88647,Accident,ERA23LA014,"Dacula, GA",United States,034055N,0835224W,Non-Fatal,Substantial,Airplane,CESSNA,177RG,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
88661,Accident,CEN23LA015,"Ardmore, OK",United States,034849N,0097722W,Non-Fatal,Substantial,Airplane,BEECH,B-60,2.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
88735,Accident,CEN23LA023,"Houston, TX",United States,293620N,0095959W,Minor,Substantial,Airplane,STEPHEN J HOFFMAN,MS-500,1.0,Reciprocating,ASHO,0.0,1.0,0.0,0.0
88767,Accident,CEN23LA033,"Bridgeport, TX",United States,331026N,0974943W,Non-Fatal,Substantial,Airplane,LUSCOMBE,8E,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0

In [29]:
# check the shape after we drop NAN values
df.shape

(16974, 18)

#### After cleaning up our data by removing certain rows and columns, our dataset now has fewer rows and columns. This process has changed the order of how the data is indexed. To fix this, we need to reset the index so that it starts from zero again.

In [30]:
# data before index reset
df.head()

,Investigation.Type,Accident.Number,Location,Country,Latitude,Longitude,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
50682,Accident,LAX01FA308,"LYTLE CREEK, CA",United States,34.241389,-117.539722,Fatal(1),Substantial,Airplane,Piper,PA-28-181,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
54904,Accident,FTW03FA174,"Cushing, OK",United States,35.935833,-96.779167,Fatal(1),Destroyed,Airplane,Cessna,182H,1.0,Reciprocating,Skydiving,1.0,2.0,2.0,1.0
61280,Accident,CHI06GA241,"COLUMBUS, OH",United States,40.068889,-82.968334,Non-Fatal,Substantial,Helicopter,Mcdonnell Douglas Helicopters,369E,1.0,Turbo Shaft,Public Aircraft - Local,0.0,0.0,0.0,2.0
61649,Accident,LAX07FA026,"Yuba City, CA",United States,38.967778,-121.626945,Fatal(2),Destroyed,Airplane,Aircraft Mfg & Dev. Co. (amd),CH601XL SLSA,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
61787,Accident,NYC07FA041,"Summersville, WV",United States,38.248611,-80.976111,Fatal(1),Destroyed,Airplane,Mooney,M20R,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0

In [31]:
# after reset
df= df.reset_index(drop=True)
df

,Investigation.Type,Accident.Number,Location,Country,Latitude,Longitude,Injury.Severity,Aircraft.damage,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Purpose.of.flight,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,Accident,LAX01FA308,"LYTLE CREEK, CA",United States,34.241389,-117.539722,Fatal(1),Substantial,Airplane,Piper,PA-28-181,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
1,Accident,FTW03FA174,"Cushing, OK",United States,35.935833,-96.779167,Fatal(1),Destroyed,Airplane,Cessna,182H,1.0,Reciprocating,Skydiving,1.0,2.0,2.0,1.0
2,Accident,CHI06GA241,"COLUMBUS, OH",United States,40.068889,-82.968334,Non-Fatal,Substantial,Helicopter,Mcdonnell Douglas Helicopters,369E,1.0,Turbo Shaft,Public Aircraft - Local,0.0,0.0,0.0,2.0
3,Accident,LAX07FA026,"Yuba City, CA",United States,38.967778,-121.626945,Fatal(2),Destroyed,Airplane,Aircraft Mfg & Dev. Co. (amd),CH601XL SLSA,1.0,Reciprocating,Personal,2.0,0.0,0.0,0.0
4,Accident,NYC07FA041,"Summersville, WV",United States,38.248611,-80.976111,Fatal(1),Destroyed,Airplane,Mooney,M20R,1.0,Reciprocating,Personal,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16969,Accident,CEN23LA008,"Iola, TX",United States,304354N,0096752W,Non-Fatal,Substantial,Airplane,CESSNA,150,1.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
16970,Accident,ERA23LA014,"Dacula, GA",United States,034055N,0835224W,Non-Fatal,Substantial,Airplane,CESSNA,177RG,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0
16971,Accident,CEN23LA015,"Ardmore, OK",United States,034849N,0097722W,Non-Fatal,Substantial,Airplane,BEECH,B-60,2.0,Reciprocating,Personal,0.0,0.0,0.0,1.0
16972,Accident,CEN23LA023,"Houston, TX",United States,293620N,0095959W,Minor,Substantial,Airplane,STEPHEN J HOFFMAN,MS-500,1.0,Reciprocating,ASHO,0.0,1.0,0.0,0.0
16973,Accident,CEN23LA033,"Bridgeport, TX",United States,331026N,0974943W,Non-Fatal,Substantial,Airplane,LUSCOMBE,8E,1.0,Reciprocating,Personal,0.0,0.0,0.0,2.0

# lets save our cleaned_dataset

In [32]:
df.shape

(16974, 18)

In [33]:
df.to_csv("cleaned_AviationData.csv")